@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/System\ 90.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color:pink
}

#menu {
    display: none;
}

.menu-icono {
    width: 100px;
}


.menu label {
    cursor:pointer;
    display: none;
}

.header-content {
text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: chartreuse;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 25px;
    color: white;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color:aqua ;
    color:fuchsia ;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: darkturquoise;
}

.Security {
    padding: 100px 0;
    background-color: aliceblue;
    position: relative;
}
.Security-img{
    width: 200px
}

.Security-content {
    text-align: center;
}

.Security-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: aqua;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.header-two{
    display:flex;
}

.header-two img, .header-two h2{
    margin-right:10px;

}

.header-two h2{
    text-align: center;
    margin-left:40px;
    margin-top: 70px;
    color: aqua;
    font-size: 55px;
}

.txt-p {
    font-size: 20px;
    color: fuchsia;
    margin-bottom: 35px;
    margin-left: 75px;
    margin-right: 75px;
}

.Security-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Protection-1 {
    padding: 0;
}

.Protection-1 img {
    width: 200px;
}

.Protection-img {
    position: absolute;
    top: 0px;
    right: 0;
}

.Protection-1 h3 {
    color: aqua;
    font-size: 35px;
    margin-bottom: 15px;
    margin: 5px 2px 2px 40px;
}

.Services {
    background-image: linear-gradient( 
        rgba(1,0,7,0.7),
        rgba(0,1,0,0.1)),
        url(images/aquacolor.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 70px 0;
}

.Services-content {
    text-align: center;
}

.Services-content h2 {
    font-size: 60px;
    line-height: 70px;
    color: pink;
    text-transform: uppercase;
    margin-bottom: 50px;    
}

.Services-content p {
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.Services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
}

.Services-1 {
    padding: 40 75px;
}

.Services-1 img {
    width: 80px;
    margin-bottom: 15px;
}

.Services-1 h3 {
    color: chartreuse;
    font-size: 30px;

}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    color: blueviolet;
}

.general-2 {
    background-image: url(images/PASW.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(images/spoofing.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.h2 {
    font-size: 50px;
    line-height: 70px;
    color: aquamarine;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16.5px;
    color: deepskyblue;
    margin: 25px 50px 45px 20px;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;

}

.blog-content h2 {
    text-align: left;
    font-weight: 200;
    font-size: 20px;
    
}

.blog-conteiner p {
    text-align: left;
    font-weight: 200;
    font-size: 20px;
    
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: aqua;
}

.blog-2 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-2 {
    padding: 15px 55px;
}

.blog-2 h3 {
    font-size: 25px;
    color: aqua;
}

.blog-3 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-3 {
    padding: 15px 55px;
}

.blog-3 h3 {
    font-size: 25px;
    color: aqua;
}

.footer {
    padding: 25px 25px;
    background-color: darkblue;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

link h3 {
    font-size: 18px;
    color: gold;
    margin-bottom: 15px;
}


.footer-content a {
    font-size: 25px;
    color: white;
    display: flex;
    margin-bottom: 0px;
    text-align: center;
}

@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ , .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .Security {
        padding: 30px;
    }

    .Security-content {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }
    .Security-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .Security img {
        display: none;
    }

    .Services {
        padding: 30px;
    }

    .Services-content P {
        padding: 0;
    }

    .Services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .Services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }


}
