@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: hotpink;
    justify-content: space-between;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/Services.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color:pink
}

#menu {
    display: none;
}

.menu-icono {
    width: 100px;
}


.menu label {
    cursor:pointer;
    display: none;
}

.header-content {
text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: chartreuse;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 25px;
    color: white;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color:aqua ;
    color:fuchsia ;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: darkturquoise;
}

.Security {
    padding: 100px 0;
    background-color: white;
    position: relative;
}

.Security-content {
    text-align: center;
}

.Security-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: aqua;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 20px;
    color: fuchsia;
    margin-bottom: 35px;
    margin-left: 75px;
    margin-right: 75px;
}

.p {
    color: aqua;
    font-size: 20px;
    margin-bottom: 15px;
    margin: 5px 2px 2px 40px;
}

.Security-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin: 5px 2px 2px 40px;
}

.Protection-1 {
    padding: 0;
}

.Protection-1 img {
    width: 200px;
}

.Protection-img {
    position: absolute;
    top: 0;
    right: 0;
}

.Protection-1 h3 {
    color: darkblue;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer {
    padding: 25px 25px;
    background-color: darkblue;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

link h3 {
    font-size: 18px;
    color: gold;
    margin-bottom: 15px;
}


.footer-content a {
    font-size: 25px;
    color: white;
    display: flex;
    margin-bottom: 0px;
    text-align: center;
}


@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .Security {
        padding: 30px;
    }

    .Security-content {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }
    .Security-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .Security img {
        display: none;
    }

    .Services {
        padding: 30px;
    }

    .Services-content P {
        padding: 0;
    }

    .Services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .Services-1 {
        margin-bottom: 25px;
    }
    
    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }


}
