body {
    background-color: aquamarine;
}
.sec1 {
    background-color: olive;
    grid-column: 1/-1;
}
main {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 20px 1fr
}

footer {
    background-color: blue;
    grid-column: 1/-1;
    text-align: center;
    color: blueviolet;
}

img {
    justify-self: center;
}